* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: center;
  background-color: black;
}

.sidebar {
  height: 100vh;
  width: 15vw;
  background-color: red;
  max-height: 100vh;
}

.content {
  height: 100vh;
  width: 34vw;
  background-color: blue;
  max-height: 100vh;
}

.sidebar-list {
  list-style: none;
  padding-left: 0;
}
.sidebar-item {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-evenly;
}

.sidebar-image {
  /* display: inline-block; */
  width: 40px;
  height: 50px;
}
.sidebar-description {
  width: 150px;
}
.sidebar-item {
  border: 1px solid white;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.content {
  /*   padding: 20px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.content-image {
  height: 100%;
  width: 100%;
}

.selected {
  color: white;
  background: yellow;
}
